body {
  background-color: #fff;
  overflow: auto;
}

.video-wrapper {
  margin-top: 50px;
}

.video-sample{
  margin-left: auto;
  margin-right: auto;
}

.editor-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}

.editor {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.CodeMirror {
  height: 300px;
}
